#carbonads {
  box-sizing: content-box;
  display: inline-block;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 170px;
  font-variant: small-caps;
  font-weight: 700;
  font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.2;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  overflow: hidden; }
  #carbonads a {
    color: #fff;
    font-size: 13px;
    text-decoration: none; }
  #carbonads .carbon-img {
    display: block;
    padding: 20px 20px 0; }
  #carbonads .carbon-text {
    display: block;
    padding: 10px 20px 35px; }
  #carbonads .carbon-poweredby {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    letter-spacing: 1px;
    font-size: 10px;
    padding: 6px 0;
    color: #999;
    background-color: rgba(0, 0, 0, 0.1); }

body {
  font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  color: #eee;
  background: #354458;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  text-align: center; }
  .container a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.3s;
            transition: 0.3s; }
    .container a:hover {
      color: #fff;
      border-bottom-color: #fff; }
  .container h1.demo-title {
    position: relative;
    display: inline-block;
    margin: 50px 0 0; }
    .container h1.demo-title:before, .container h1.demo-title:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 30px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.8); }
    .container h1.demo-title:before {
      left: -50px; }
    .container h1.demo-title:after {
      right: -50px; }
  .container .demo-subtitle {
    margin: 5px 0 40px;
    color: rgba(255, 255, 255, 0.4); }
  .container .description {
    color: rgba(255, 255, 255, 0.7); }
  .container .showcase {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px; }
    .container .showcase button {
      position: relative;
      display: inline-block;
      min-width: 160px;
      border: none;
      background-color: #3A9AD9;
      color: #ffffff;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
      padding: 10px 20px;
      margin: 0 10px;
      border-radius: 2px;
      -webkit-transition: 0.3s;
              transition: 0.3s; }
      .container .showcase button:not([disabled]):hover {
        background-color: #4fa7dd; }
      .container .showcase button.bordered {
        background-color: transparent;
        border: 2px solid #3A9AD9;
        padding: 8px 0; }
        .container .showcase button.bordered:not([disabled]):hover {
          background-color: #3A9AD9;
          border-color: transparent; }
      .container .showcase button.control-button {
        width: 170px;
        font-size: 13px;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: 0.5s 0s opacity, 0.1s visibility;
                transition: 0.5s 0s opacity, 0.1s visibility; }
        .container .showcase button.control-button.show-control {
          visibility: visible;
          opacity: 1;
          -webkit-transition: 0.5s 0.4s opacity, 0.3s background, 0.3s border;
                  transition: 0.5s 0.4s opacity, 0.3s background, 0.3s border; }
        .container .showcase button.control-button.make-it-fail {
          border-color: #EB7260; }
          .container .showcase button.control-button.make-it-fail:hover {
            background-color: #EB7260; }
        .container .showcase button.control-button.make-it-succeed {
          border-color: #29ABA4; }
          .container .showcase button.control-button.make-it-succeed:hover {
            background-color: #29ABA4; }
  .container .loading-button.open-loading {
    color: rgba(255, 255, 255, 0.8); }
    .container .loading-button.open-loading.infinity {
      padding-top: 80px; }
    .container .loading-button.open-loading svg {
      display: inline-block;
      visibility: visible;
      opacity: 1;
      -webkit-transition: 1s opacity;
              transition: 1s opacity;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
  .container .loading-button.failed {
    background-color: #EB7260; }
  .container .loading-button.succeed {
    background-color: #29ABA4; }
  .container .loading-button.no-transition {
    -webkit-transition: 0s;
            transition: 0s; }
    .container .loading-button.no-transition * {
      -webkit-transition: 0s;
              transition: 0s; }
  .container .loading-button svg {
    visibility: hidden;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: 0s;
            transition: 0s; }
    .container .loading-button svg path {
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 4;
      fill: none; }
      .container .loading-button svg path.success-path, .container .loading-button svg path.error-path, .container .loading-button svg path.error-path2 {
        visibility: hidden; }
  .container .loading-button.top svg {
    top: 10px; }
  .container .loading-button.bottom svg {
    bottom: 10px; }
  .container .loading-button.left svg {
    top: 50%;
    -webkit-transform: scale(0.25) translateY(-50%);
        -ms-transform: scale(0.25) translateY(-50%);
            transform: scale(0.25) translateY(-50%);
    -webkit-transform-origin: 0 0 0;
        -ms-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    left: 20px; }
  .container .loading-button.right svg {
    top: 50%;
    -webkit-transform: scale(0.25) translateY(-50%);
        -ms-transform: scale(0.25) translateY(-50%);
            transform: scale(0.25) translateY(-50%);
    -webkit-transform-origin: 100% 0 0;
        -ms-transform-origin: 100% 0 0;
            transform-origin: 100% 0 0;
    left: auto;
    right: 20px; }
  .container .loading-button.open-loading.left {
    padding-left: 60px; }
  .container .loading-button.open-loading.right {
    padding-right: 60px; }
  .container .loading-button.open-loading.top svg, .container .loading-button.open-loading.bottom svg {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s; }
  .container .loading-button.open-loading.circular-loading.top, .container .loading-button.open-loading.circle-loading.top {
    padding-top: 140px; }
  .container .loading-button.open-loading.circular-loading.bottom, .container .loading-button.open-loading.circle-loading.bottom {
    padding-bottom: 140px; }
  .container .loading-button.open-loading.infinity-loading.top {
    padding-top: 80px; }
  .container .loading-button.open-loading.infinity-loading.bottom {
    padding-bottom: 80px; }
  .container .loading-options {
    text-align: center; }
    .container .loading-options > div {
      display: inline-block;
      width: 40%;
      cursor: default; }
    .container .loading-options label {
      display: inline-block;
      margin: 0 5px;
      cursor: pointer; }
      .container .loading-options label input {
        display: none; }
        .container .loading-options label input:checked + span {
          background-color: rgba(0, 0, 0, 0.5); }
      .container .loading-options label span {
        display: inline-block;
        padding: 5px 10px;
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.3); }
  .container .circle-loading circle {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s;
            transition: 0.5s; }
  .container .circle-loading.show-circles circle {
    visibility: visible;
    opacity: 1; }
